<p class="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Volume:</b>
  <%= @book.volume %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
