<h1>Editing book</h1>

<% form_for(@book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.submit 'Update' %>
    <%= f.client_side_validations :url => new_book_path(:format => :json) %>
  </p>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>